@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap");

#bannerHerro {
  height: 680px;
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/93085acc959671e9e9e77f3ca8147f82-1599427734108/bg-hero-4-1792-x1.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  /* margin: 50px; */
  padding: 100px;
  background-color: transparent;
  color: white;
}
#bannerHerro .contentBannder {
  max-width: 850px;
}
#bannerHerro .contentBannder p {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 3.5rem;
}
#bannerHerro .contentBannder p i {
  font-family: "Almendra", serif;
  font-weight: lighter;
}
/* start search  */
#bannerHerro form {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
#bannerHerro .pseudo-search {
  /* display: inline; */
  /* border: 2px solid #ccc; */
  /* border-radius: 5px; */
  /* padding: 10px 15px; */
  /* transition: background-color 0.5 ease-in-out; */
  background-color: transparent;
}
#bannerHerro .pseudo-search input {
  border: 0;
  padding: 10px 15px;
  /* border: 2px solid #ccc; */
  border-radius: 5px 0 0 5px;
  background-color: white;
  border-right: none;
  color: black;
}
/* hover  */
#bannerHerro li a {
  color: black;
}
#bannerHerro li a.active {
  color: blue;
}
#bannerHerro li:hover a {
  color: #48d048;
}
#bannerHerro .pseudo-search button {
  /* padding: 15px 20px; */
  color: white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
}
#bannerHerro .pseudo-search input:focus {
  outline: none;
  border-color: black;
  border: none;
  /* border-width: 5px; */
}
/* hover  */

/* end search  */

#bannerHerro .contentBannder .popular button {
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 999999px;
  margin-right: 20px;
  transition: 0.3s all;
}
#bannerHerro .contentBannder .popular button:hover {
  background-color: #fff;
  color: black;
}
