.ant-tabs-tab {
  flex: 1 1 0%;
  justify-content: center;
  background-color: #fafafa;
  font-weight: 700;
  color: #74767e;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}
.ant-tabs-tab:hover {
  color: #48d048;
}
.ant-tabs-tab-active {
  background-color: white;
}
/* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  font-weight: 700;
} */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #48d048;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  display: inline-block;
}

.ant-tabs-ink-bar {
  /* background: #48d048; */
  background: transparent;
}

/* border */
.ant-tabs-tab-active {
  border-bottom: none !important;
}
.ant-tabs-tab:nth-child(1) {
  border: 1px solid rgba(116, 118, 126, 0.75);
  border-right: none;
}
.ant-tabs-tab:nth-child(2) {
  border: 1px solid rgba(116, 118, 126, 0.75);
}
.ant-tabs-tab:nth-child(3) {
  border: 1px solid rgba(116, 118, 126, 0.75);
  border-left: none;
}
.ant-tabs-nav {
  margin-bottom: 0 !important;
}
.ant-tabs-content-holder {
  border: 1px solid rgba(116, 118, 126, 0.75);
  border-radius: 0 0 15px 15px;
  border-top: none;
}
/* border */

/* table  */
.ant-tabs-tabpane {
  padding: 15px;
}
/* table  */

/* FQA */
.ant-collapse-borderless {
  background-color: transparent;
}
/* FQA */
