.trangChuFeature {
  background-color: #f1fdf7;
  width: 100%;
  margin: 50px auto;
}

.trangChuFeature .container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.trangChuFeature .content h1 {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 24px;
}
.trangChuFeature .content h2 {
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.trangChuFeature .content p {
  font-size: 16px;
  opacity: 0.9;
}
@media only screen and (max-width: 1200px) {
  .trangChuFeature .container {
    flex-wrap: wrap;
  }
  .trangChuFeature .container .content {
    width: 85%;
    margin: 0 auto;
  }
}

/* video  */
.trangChuFeature .video {
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
}
